/* --- Logo Mobile y Logo PC --- */ 
.logo img,
.logoM img {
	animation: logo-spin infinite 2s linear;
	animation-direction: alternate;
	animation-delay: 1s ease;
}

/* -- Animation of the (Logo) -- */
@keyframes logo-spin {
  from {
    filter: saturate(1);
  }
  to {
    filter: saturate(10);
  }
}