.navM {
	transition: background-color 0.2s;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 30px;
	align-items: center;
	z-index: 5;
	height: 80px;
	background-color: var(--white);
	user-select: none;
	/* ocultar */
	display: none;
	cursor: default;
	transition: background-color 0.2s;
}

.navM img {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	box-shadow: 0 0 10px 0 #0002;
	cursor: default;
}

/* -- Logo Option -- */
.logoM a {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
}

.menu, .logoM, .settings {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 90%;
	width: 1fr;
}

.settings a, .logoM a, .menu a {
	transition: color 0.2s;
	font-family: giiber2;
	color: var(--color);
	text-decoration: none;
	font-weight: bold;
	cursor: default;
}


/* Menu desplazante */
.navMenu {
	transition: bottom 0.35s ease, background-color 0.2s;
	position: fixed;
	bottom: -50px;
	left: 0;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	list-style: none;
	width: 100%;
	height: 8vh;
	user-select: none;
	box-shadow: 0 0 4px 0 #0004;
	background-color:  var(--white);
}

.navMenu.navMenuOpen {
	bottom: 0;
}

.navMenu li {
	transition:  0.2s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 22px;
	width: 100%;
	height: 100%;
}

/* Buscador */
.formMobile {
	transition: top 0.35s ease, background-color 0.2s;
	position: fixed;
	top: -5px;
	left: 0;
	width: 100%;
	height: 7vh;
	padding: 5px 0;
	background-color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 0 40px 40px;
	box-shadow: 0 2px 5px 0 #0003;
	z-index: 4;
}
.formMobile.formMobileOpen {
	top: 80px;
}
.inputMobile {
	transition: background-color 0.2s;
	width: 50%;
	height: 90%;
	outline: none;
	font-family: giiber2;
	font-size: 15px;
	padding: 2px 15px;
	border-radius:  15px 15px 2px 2px;
	border: none;
	background-color: var(--input);
	text-align: center;
	color: var(--color);
	font-weight: bold;
}
.inputMobile:focus {
	text-align: left;
	background-color: var(--input2);
	font-weight: lighter;
}

.btnMobile {
	transition: background-color 0.2s;
	border: none;
	background-color: #A9A9A9;
	border-radius:  15px 15px 2px 15px;
	height: 80%;
	width: 30px;
	outline: none;
	opacity: 0.7;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
	margin-left: -35px;
}

/* Activation Responsive */
@media (max-width: 750px) {
	.navM {
		display: flex;
	}
	.nav {
		visibility: hidden;
	}
	.audio::after,
	.cambiarM::after {
		display: none;
	}
	.audio.MenuActive,
	.cambiarM.MenuActive {
		transition: bottom 0.55s ease;
		bottom: 55px;
	}
}

@media (min-width: 751px) {
	.navMenu,.formMobile {
		display: none;
	}
}