:root {
	--white: #fff;
	--white2: #fff;
	--white3: #fff;
	--dark: #000;
	--color: #000;
	--opcion-1: #fff;
	--aAnimation: #000;
	--bg: #F9F9F9;
	--bg-temp: #0006;
	--img: url(../img/bg/bg1.png);
	--input: #F4F4F4;
	--input2: #ededed;
	--child: #ededed;
}

@font-face {
	src: url(../fonts/giiber.ttf);
	font-family: giiber;
}

@font-face {
	src: url(../fonts/giiber2.ttf);
	font-family: giiber2;
}

::-webkit-scrollbar {
    width: 0.32em;
    background: #090909;
}

::-webkit-scrollbar-thumb {
    background: #009CFF;
}

::-webkit-scrollbar-thumb:hover {
    background: #FF8C00;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	transition: background-color 0.2s;
	font-family: giiber, "Arial", "Ubuntu";
	background-color: var(--bg);
	color: var(--color);
}

html,body{
	scroll-behavior: smooth;
}

.form {
	width: 60%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	border-radius: 15px 15px 2px 2px;
}

/* Texto del modo dark && light */
#darktext {
	font-family: giiber2;
	font-size: 15px;
}

/* menu desplazante */
.conf {
	transition: background 0.2s, bottom 0.5s;
	background: var(--white2);
	box-shadow: 0 2px 15px 0 #0003;
	position: fixed;
	bottom: -30vh;
	width: 100%;
	height: 20vh;
	border-radius: 50px 50px 0 0;

	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	z-index: 15;
}

.move {
	bottom: 0;
}

.option-1, .option-2, .option-3 {
	cursor: pointer;
	width: 100px;
	height: 90px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--opcion-1);
	border-radius: 25px;
	box-shadow: 0 0 5px 0 #0002;
	transition: 0.3s ease;
	margin-left: 15px;
}

.option-3 {
	background: transparent;
}

.option-3 img {
	width: 100%;
	height: 100%;
	border-radius: inherit;
}

.option-1 img, .option-2 img{
	width: 50px;
	height: 50px;
}


.option-1 h4, .option-2 h4{
	margin-top: 4px;
	color: var(--color);
}
.option-1:hover, .option-2:hover, .option-3:hover{
	box-shadow: 0 0 7px 0 #0004;
}

.close-conf {
	background-color: #0008;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	cursor: default;
	display: none;
	z-index: 11;
}

/* Cabezera (Navbar and IMG) */
header{
	width: 100%;
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #F3F3F3;
}


/* Todo de la navbar */
.nav {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-right: 20px;
	width: 100%;
	height: 80px;
	background-color: var(--white);
	user-select: none;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
	z-index: 10;
	transition: 0.2s;
}

.o1 {
	height: 100%;
	width: 45%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.o1 input {
	height: 30px;
	width: 100%;
	border-radius: 15px 15px 2px 2px;
	padding: 0 15px;
	padding-right: 31px;
	padding-top: 2px;
	border: none;
	background: var(--input);
	outline: none;
	transition: background 0.23s ease;
	font-size: 15px;
	font-family: giiber2;
	text-align: center;
	color: var(--color);
	font-weight: bold;
}.o1 input:focus {
	text-align: left;
	font-weight: lighter;
	background: var(--input2);
}

.o1 button {
	cursor: pointer;
	border: none;
	position: absolute;
	right: 5px;
	margin-top: 2px;
	background: #A9A9A9;
	border-radius:  15px 15px 2px 15px;
	height: 25px;
	width: 25px;
	outline: none;
	opacity: 0.7;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}

.logo {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
	width: 150px;
	height: 60px;
	cursor: pointer;
}

.logo img {
	transition: transform 1s;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}/* Animation send to animations.css */


.logo img:hover {
	transform: rotate(360deg);
}

.logo a{
	text-decoration: none;
	color: var(--color);
	font-weight: bold;
	font-size: 25px;
}

.o2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 50%;
	height: 100%;
}

.lista a {
	font-size: 18px;
	text-decoration: none;
	color: var(--color);
	font-weight: bold;
	padding: 5px;
	margin: 15px;
	position: relative;
}

.lista a::after {
	position: absolute;
	content: "";
	width: 0;
	height: 2px;
	background-color: var(--aAnimation);
	bottom: 0;
	left: 50%;
	transition: 0.23s;
}

.lista a:hover::after {
	width: 100%;
	left: 0;
}

.user {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 1fr;
	cursor: pointer;
}

.user img {
	width: 45px;
	height: 45px;
	border-radius: 50%;
}

.user span {
	font-family: giiber2;
	font-weight: bold;
	color: var(--color);
}/* --- Fin --- */


/* Todo de la IMG (Portada) */
.portada {
	width: 100%;
	height: 100%;
	background-image: var(--img);
	background-position: center;
	background-size: cover;

	display: flex;
	justify-content: center;
	align-items: flex-end;
	user-select: none;
}

.portada span {
	color: #fff;
	background-color: rgba(0,0,0,0.3);
	width: 100%;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	border-radius: 15px 15px 0 0;
	backdrop-filter: blur(5px);
}

.audio audio{
	visibility: hidden;
	display: inline-flex;
	position: relative;
	top: 0;
	right: 0;
}

.audio {
	transition: 0.2s;
	opacity: 0;
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 20px;
	right: 15px;
	border-radius: 50%;
	background-color: #202020;
	background-image: url(../img/options/reproductor.png);
	background-position: center;
	background-size: cover;
	cursor: pointer;
	box-shadow: 0 0 10px 0 #0003;
	z-index: 20;
}

.audio::after {
	opacity: 0;
	content: "Stop Music";
	color: var(--color);
	font-weight: bold;
	position: fixed;
	bottom: 2px;
	right: 6px;
}

.audio:hover::after {
	opacity: 1;
}

.cambiarM {
	opacity: 0;
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 20px;
	left: 15px;
	background-color: #202020;
	background-image: url(../img/options/change.png);
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 0 10px 0 #0003;
	transition: 0.2s;
	z-index: 20;
}

.cambiarM::after {
	opacity: 0;
	content: "New Music";
	color: var(--color);
	font-weight: bold;
	position: fixed;
	bottom: 2px;
	left: 8px;
}
.cambiarM:hover::after {
	opacity: 1;
}

.audio.SettingsActive,
.cambiarM.SettingsActive {
	bottom: 130px;
	transition: bottom 0.5s ease-out;
}